.app-videos--type {
  position: fixed;
  width: 100%;
  top: 25px;
  z-index: 2;
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  color: gray;
  font-weight: 600;

  &--line {
    position: relative;
    top: 2px;
    width: 2px;
    height: 7px;
    background-color: gray;
    transition: all 0.3s linear;
  }

  .align-subscriptions {
    margin-right: 7px;
    margin-left: 1px;
  }

  .align-recomendation {
    margin-left: 7px;
    margin-right: 1px;
  }

  &_active-subscriptions {
    color: white;
    animation: subAnimation 0.4s;
    margin-left: 6px;
  }

  &_active-recomendation {
    color: white;
    animation: recAnimation 0.4s;
    margin-right: 6px;
  }

  &--subscriptions {
    padding-left: 2.5px;
    padding-right: 2.5px;
    transition: all 0.3s linear;
  }

  &--recomendation {
    padding-left: 2.5px;
    padding-right: 2.5px;
    transition: all 0.3s linear;
  }
}

@keyframes subAnimation {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 10px;
  }
  100% {
    margin-left: 6px;
  }
}

@keyframes recAnimation {
  0% {
    margin-right: 0px;
  }
  50% {
    margin-right: 10px;
  }
  100% {
    margin-right: 6px;
  }
}
