.video-sidebar {
  position: absolute;
  top: 50%;
  right: 3%;
  color: white;

  &--button {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

    &--profile {
      border-radius: 100%;
      margin: 0px 10px 10px 10px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 10px;
      border: 1px solid white;
      width: 36px;
      height: 36px;

      img {
        width: 36px;
        height: 36px;
        border-radius: 100%;
      }

      &--add {
        position: absolute;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -7px;
        width: 14px;
        border-radius: 100%;
        background-color: red;
        color: white;
      }
    }
  }
}

#share-icon {
  transform: rotateY(180deg);
}

#message-icon {
  transform: rotateY(180deg);
}
