.video {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  overflow: hidden;

  &--player {
    object-fit: fill;
    background: black;
    width: 100%;
    height: 100%;
  }

  &--pause-block {
    position: absolute;
    width: 100%;
    height: calc(100% - 5px);
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: all 0.2s linear;
    pointer-events: none;

    svg {
      fill: none;
    }

    &_paused {
      background: rgba(0, 0, 0, 0.6);
      pointer-events: auto;

      svg {
        fill: white;
      }
    }
  }

  &--input-range {
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: all 0.2s linear;

    &:hover {
      bottom: -3px;
    }
  }
}
